<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>統編</th>
            <th>廠商名稱</th>
            <th>得標率</th>
        </tr>
    </thead>
    <tbody>
        <%= content_tag_for(:tr, @tenderers) do |tenderer|%>
            <td><%= tenderer.business_number%></td>
            <td><%=link_to tenderer.name, tenderer_path(tenderer)%> </td>
            <td><a href="<%=tenderer_path(tenderer)%>"><%=sprintf "%.2f", ((g=tenderer.winning_tender_info_count) / (a=tenderer.tender_info_count).to_f)*100%>%(<%="#{g}/#{a}"%>)</a></td>
        <% end %>
    </tbody>
</table>
<%= will_paginate @tenderers %>
