<h2><%= @tenderer.name%></h2>
<h3>得標</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>發標單位</th>
            <th>標案名稱</th>
        </tr>
    </thead>
    <tbody>
        <%= content_tag_for(:tr, @winning_tender_infos) do |t|%>
            <td><%= t.procurement.procuring_entity.name%></td>
            <td><%= link_to t.procurement.subject, procurement_path(procurement)%></td>
        <% end %>
    </tbody>
</table>
<h3>未得標</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>發標單位</th>
            <th>標案名稱</th>
        </tr>
    </thead>
    <tbody>
        <%= content_tag_for(:tr, @lose_tender_infos) do |t|%>
            <td><%= t.procurement.procuring_entity.name%></td>
            <td><%= link_to t.procurement.subject, procurement_path(procurement)%></td>
        <% end %>
    </tbody>
</table>
