<%= simple_form_for SearchForm.new, :url => search_path do |f|%>
    <%= f.input :name,     :label => '發包單位'%>
    <%= f.input :start_at, :label => '標案時間-起始', :input_html => {"data-toggle"=> "datepicker"}%>
    <%= f.input :end_at,   :label => '標案時間-結束', :input_html => {"data-toggle"=> "datepicker"}%>
    <%= f.submit%>
<% end %>
<div id="d3graph"></div>
<% content_for :javascripts do %>
<script>

$(function(){
    $('form').submit(function(){
        show_d3();
        return false;
    });
});

</script>
<% end %>

