<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>單位</th>
            <th>標案名稱</th>
            <th>決標金額</th>
            <th>決標時間</th>
        </tr>
    </thead>
    <tbody>
        <%= content_tag_for(:tr, @procurements) do |procurement|%>
            <td><%= link_to  procurement.entity_name, procuring_entity_path(procurement.procuring_entity)%></td>
            <td><%= link_to procurement.subject, procurement_path(procurement)%></td>
            <td><%= number_to_currency procurement.price%></td>
            <td><%= procurement.finish_at.strftime('%Y/%m/%d')%></td>
        <% end %>
    </tbody>
</table>
<%= will_paginate @procurements %>
