<%= search_form_for @q, :class => "form-search" do |f| %>
    <%= f.label :name_cont, "搜尋:"%>
    <%= f.text_field :name_cont, :class => "input-medium search-query" %>
    <%= f.submit :class => "btn"%>
<% end %>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>名稱</th>
        </tr>
    </thead>
    <tbody>
        <%= content_tag_for(:tr, @procuring_entities) do |pe|%>
            <td><%= link_to pe.name, procuring_entity_path(pe)%></td>
        <% end %>
    </tbody>
</table>
<%= will_paginate @procuring_entities %>
